h1,
h2,
h3,
h4,
p,
.p-copy,
button,
input,
textarea,
strong {
  letter-spacing: 0px;
  font-family: var(--font-family-main);
  font-style: normal;
  margin: 0;
}
h1.small,
h2.small,
h3.small,
h4.small,
p.small,
.p-copy.small,
button.small,
input.small,
textarea.small,
strong.small {
  font-size: var(--font-size-xsmall);
}

h1.primary,
.h1.primary {
  font-weight: var(--font-weight-normal);
  font-size: 2.8rem;
  line-height: calc(var(--space-gutter) * 4.5);
}
@media (min-width: 767px) {
  h1.primary,
  .h1.primary {
    font-size: 4.2rem;
    line-height: calc(var(--space-gutter) * 6);
  }
}
h1.secondary,
.h1.secondary {
  font-weight: var(--font-weight-medium);
  font-size: 2.2rem;
  line-height: calc(var(--space-gutter) * 3.5);
}
@media (min-width: 767px) {
  h1.secondary,
  .h1.secondary {
    font-size: 2.8rem;
    line-height: calc(var(--space-gutter) * 4.5);
  }
}
h1.-medium,
.h1.-medium {
  font-weight: var(--font-weight-medium);
}
h1.-bold,
.h1.-bold {
  font-weight: var(--font-weight-bold);
}
h2,
.h2 {
  /* PLP product names */
}
h2.primary,
.h2.primary {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-small);
  line-height: 1.3;
}
@media (min-width: 767px) {
  h2.primary,
  .h2.primary {
    font-size: 2rem;
  }
}
h2.secondary,
.h2.secondary {
  font-weight: var(--font-weight-normal);
  font-size: 1.4rem;
  line-height: calc(var(--space-gutter) * 2);
}
h2.secondary.-medium,
.h2.secondary.-medium {
  font-weight: var(--font-weight-medium);
}
h2.secondary.-bold,
.h2.secondary.-bold {
  font-weight: var(--font-weight-bold);
}

h3.primary,
.h3.primary {
  font-weight: var(--font-weight-medium);
  font-size: 1.4rem;
  line-height: calc(var(--space-gutter) * 2.5);
}
h3.secondary,
.h3.secondary {
  font-weight: var(--font-weight-medium);
  font-size: 1.8rem;
  line-height: calc(var(--space-gutter) * 2.5);
}
h3.-bold,
.h3.-bold {
  font-weight: var(--font-weight-bold);
}
h4.primary,
.h4.primary,
.h5.primary,
strong.primary,
p.primary {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xsmall);
  line-height: 1.5;
}
h4.primary.-medium,
.h4.primary.-medium,
.h5.primary.-medium,
strong.primary.-medium,
p.primary.-medium {
  font-weight: var(--font-weight-medium);
}
h4.primary.-bold,
.h4.primary.-bold,
.h5.primary.-bold,
strong.primary.-bold,
p.primary.-bold {
  font-weight: var(--font-weight-bold);
}
h4.secondary,
.h4.secondary,
.h5.secondary,
strong.secondary,
p.secondary {
  font-weight: var(--font-weight-medium);
  line-height: 1.7;
}
h4.secondary.-medium,
.h4.secondary.-medium,
.h5.secondary.-medium,
strong.secondary.-medium,
p.secondary.-medium {
  font-weight: var(--font-weight-medium);
}
h4.secondary.-bold,
.h4.secondary.-bold,
.h5.secondary.-bold,
strong.secondary.-bold,
p.secondary.-bold {
  font-weight: var(--font-weight-bold);
}
/* Body Copy */
p,
.p-copy {
  /* Body copy */
  font-weight: var(--font-weight-normal);
  font-size: 1.6rem;
}
@media (min-width: 767px) {
  p,
  .p-copy {
    line-height: 1.3;
  }
}
p.-medium,
.p-copy.-medium {
  font-weight: var(--font-weight-medium);
}
p.-bold,
.p-copy.-bold {
  font-weight: var(--font-weight-bold);
}
p.small,
.p-copy.small {
  font-size: var(--font-size-xsmall);
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
